<%= render 'components/banner_ingredients',
title: @cocktail.name,
banner_img: @cocktail.photo_url
%>

<div class="container">

  <div class="reviews">
    <div class="content-reviews">
      <div class="review-list">
        <h2>Reviews:</h2>
        <ul class="list-inline">
        <% @cocktail.reviews.each do |review| %>
          <li>
            <%= review.title.capitalize %> - <%= review.stars %>/5
          </li>
        <% end %>
        </ul>
      </div>
    </div>

    <div class="add-review">
      <div class="review-content">
        <div class="error-message">
          <% if flash[:reviews_error] %>
          <% flash.each do |_k, value| %>
          <div class="alert alert-error"><%= value %></div>
          <% end %>
          <% end %>
        </div>
        <button class="btn btn-primary btn-review">Add a review</button>
      </div>
    </div>

    <div class="review-form hidden">
      <div class="review-form-spaces">
        <%= simple_form_for([@cocktail, Review.new]) do |f| %>
        <%= f.input :title, label: "Comment" %>
        <%= f.input :stars, label: "Rating", collection: 1..5 %>
        <%= f.submit "Add Review", class: "btn btn-primary review-button" %>
        <%= link_to "Cancel", @cocktail, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
