<div class="banner">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="card">
  <h2>Ingredients:</h2>
  <% @cocktail.doses.each do |dose| %>
  <ul>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %> |
      <%= link_to "Delete", dose_path(dose), method: :delete %>
    </li>
  </ul>
  <% end %>
</div>

<div class="card">
  <h2>Reviews:</h2>
  <% @cocktail.reviews.each do |review| %>
  <ul>
    <li>
      <%= review.title %> - <%= review.stars %>/5
    </li>
  </ul>
  <% end %>
</div>

<hr>

<h3>Add a new ingredient</h3>

<%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.submit "Add Ingredient" %>
<% end %>

<hr>

<h3>Add a new review</h3>

<%= simple_form_for([@cocktail, @review]) do |f| %>
    <%= f.input :title %>
    <%= f.input :stars %>
    <%= f.submit "Add Review" %>
<% end %>

<hr>

<%= link_to "Back to list", cocktails_path %>
