<div class="banner">
  <h1><%= @cocktail.name %></h1>
</div>

<div class="card">
  <h2>Ingredients:</h2>
  <% @cocktail.doses.each do |dose| %>
  <ul>
    <li>
      <%= dose.ingredient.name %> - <%= dose.description %> |
      <%= link_to "Delete", dose_path(dose), method: :delete %>
    </li>
  </ul>
  <% end %>
</div>

<%= link_to "Add new ingredient", new_cocktail_dose_path(@cocktail) %>
